<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Đặt thành false nếu camera không bắt buộc -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChuyenDe">
        <activity
            android:name=".activities.login_forgot.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DatMonAn"
            android:exported="false" />
        <activity
            android:name=".activities.manages.QLBan"
            android:exported="false" />
        <activity
            android:name=".activities.login_forgot.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".TrangThaiDanhSachBan.TableListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.homes.HomeNhanVien"
            android:exported="false" />
        <activity
            android:name=".activities.homes.HomeDauBep"
            android:exported="false" />
        <activity
            android:name=".activities.homes.HomeThuNgan"
            android:exported="false" />
        <activity
            android:name=".activities.manages.QLNhanVien"
            android:exported="false" />
        <activity
            android:name=".activities.DanhSachDaChon"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".TrangThaiDanhSachBan.TableListActivity"-->
<!--            android:exported="true">-->
<!--        </activity>-->

        <activity
            android:name=".QuanLyHoaDon.InvoiceListActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ChiTietHoaDon.InvoiceDetailActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".QuanLyBan.MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".Manage.ManageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Manage.ManageNhanVien"
            android:exported="true">
        </activity>
<!--        <activity-->
<!--            android:name=".DanhSachMonAn.FoodMenuActivity"-->
<!--            android:exported="true">-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".DanhSachMonAn.SelectedFoodActivity"-->
<!--            android:exported="true">-->
<!--        </activity>-->

        <activity
            android:name=".activities.ThongKeActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DanhSachMonAn.DanhSachChonMon"
            android:exported="true">
        </activity>
        <activity
            android:name=".DanhSachMonAn.DanhSachDaChon"
            android:exported="true">
        </activity>
    </application>

</manifest>