<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />  <!-- Đặt thành false nếu camera không bắt buộc -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChuyenDe">

        <activity
            android:name=".activities.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".activities.Login"
            android:exported="false" />
        <activity
            android:name=".activities.HomeNhanVien"
            android:exported="false" />
        <activity
            android:name=".activities.HomeDauBep"
            android:exported="false" />
        <activity
            android:name=".activities.HomeThuNgan"
            android:exported="false" />
        <activity
            android:name=".activities.QLNhanVien"
            android:exported="false" />
    </application>

</manifest>
